@{
    ViewData["Title"] = "Home Page";
}

<style>
     img{
         width:150px;
         Height:150px;
     }
</style>
<table>
    <tbody>
            <tr>
                <td>
                    <img src="~/49ers images/49ers1.jpeg" alt="49er1" />
                </td>
                <td>
                    <img src="~/49ers images/49ers2.jpeg" alt="49er2" />
                </td>
                <td>
                    <img src="~/49ers images/49ers3.jpeg" alt="49er3" />
                </td> 
            </tr>
            <tr>
                <td>
                       <img src="~/49ers images/49ers4.jpeg" alt="49er4" />
                </td>
                <td>
                       <img src="~/49ers images/49ers5.jpeg" alt="49er5" />
                </td>
                <td>
                    <iframe width="150" height="150" src="https://www.youtube.com/embed/1opDMDguFak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </td>
        </tr>
    </tbody>
    </table>

