@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tbody>
        <tr>
            <td>
                <img src="~/49ers images/49ers1.jpeg" alt="49er1" />
            </td>
            <td>
                <img src="~/49ers images/49ers2.jpeg" alt="49er2" />
            </td>
            <td>
                <img src="~/49ers images/49ers3.jpeg" alt="49er3" />
            </td> 
            </tr>
    <td>
           <img src="~/49ers images/49ers4.jpeg" alt="49er4" />
    </td>
    <td>
           <img src="~/49ers images/49ers5.jpeg" alt="49er5" />
    </td>
            <td>
                <span>Image 6</span>
            </td>
        </tr>
    </tbody>
    </table>

