<form>
    <label>User Name</label>
    <input id="UserName"
           type="text" value="My super user"
           <br/>
    <label>Password:</label>
    <input id="Password"
           type="text"/>
          
</form>